<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.github.wjinlei.springbootblog.entity.Blog" alias="Blog"/>
        <typeAlias type="com.github.wjinlei.springbootblog.entity.User" alias="User"/>
    </typeAliases>
    <mappers>
        <mapper resource="db/mybatis/mappers/blog-mapper.xml"/>
        <mapper class="com.github.wjinlei.springbootblog.dao.UserMapper"/>
    </mappers>
</configuration>