#footer{
    height: 120px;
    margin-top: 10px;
}

#footer ul{
    height: 45px;
    background-color: #EEEEEE;
}

#footer li{
    float: left;
    /*margin: 15px 10px 0 5px;*/
    line-height: 45px; /*利用行高来居中*/
    margin-left: 10px;
    font-size: 14px;
}

#footer ul li a:hover{
    color: #FF832C;
}

#footer address{
    font-family: 微软雅黑, 黑体, serif;
    font-size: 12px;
    margin-top: 10px;
}

#footer address a{
    color: blue;
}